@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  overflow-wrap: break-word;
}



.table-of-contents {
  display: none;

  @media (min-width: 1300px) {
    display: block;
    position: fixed;
    right: 20px;
    top: 80px;
    width: 270px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding: 15px;
    border-radius: 8px;
    opacity: 0.6;


    ul {
      list-style: none;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}